<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | AZ</title>
    <link rel="stylesheet" href="static/about.css">
</head>

<body>
    <header>
        <nav>
            <h1>About us</h1>
            <li>
                <li>
                    <a href="{{ 'home'}}">Home</a>
                    <a href="{{'about'}}">About</a>
                    <a href="{{'ingredients'}}">Ingridients</a>
                    <a href="{{'membership'}}">Memberships</a>
                    <a href="{{'login'}}">Login</a>
                    <a href="{{ 'logout' }}">Logout</a>
                    <a href="{{'orders'}}">past orders</a>
                    <a href="{{'checkout'}}">checkout</a>
                </li>
            </li>
        </nav>
    </header>

    <section class="mission">
        <h2>Our Mission</h2>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora omnis explicabo possimus eum dolor nemo
                sapiente beatae laudantium! Corporis odit sit quaerat repellendus distinctio earum aspernatur quos
                maxime
                rem vitae.
                Neque tempora minima quibusdam accusamus ad maxime, nemo sit consectetur, corporis sequi molestias ut
                similique nam aperiam? Veritatis non assumenda, nostrum et officia blanditiis nihil impedit aspernatur
                perferendis voluptatum ab.</p>
        </div>
    </section>
    <section class="values">
        <h2>Our Values</h2>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora omnis explicabo possimus eum dolor nemo
                sapiente beatae laudantium! Corporis odit sit quaerat repellendus distinctio earum aspernatur quos
                maxime
                rem vitae.
                Neque tempora minima quibusdam accusamus ad maxime, nemo sit consectetur, corporis sequi molestias ut
                similique nam aperiam? Veritatis non assumenda, nostrum et officia blanditiis nihil impedit aspernatur
                perferendis voluptatum ab.</p>
        </div>
    </section>
    <section class="staff">
        <h2>meet our staff</h2>
        <div>
            <img src="static/images/manager.jpeg" alt="pic">
            <h4>Manager</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium eum libero laboriosam modi,
                molestiae aspernatur unde ratione delectus, vitae maxime fugiat rem maiores. Earum et reiciendis id vero
                possimus!</p>
            <img src="static/images/chef1.jpg" alt="pic">
            <h4>Head Chef</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium eum libero laboriosam modi,
                molestiae aspernatur unde ratione delectus, vitae maxime fugiat rem maiores. Earum et reiciendis id vero
                possimus!</p>
            <img src="static/images/chef2.jpg" alt="pic">
            <h4>Sous Chef</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium eum libero laboriosam modi,
                molestiae aspernatur unde ratione delectus, vitae maxime fugiat rem maiores. Earum et reiciendis id vero
                possimus!</p>
            <img src="static/images/chef3.webp" alt="pic">
            <h4>Sous chef</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium eum libero laboriosam modi,
                molestiae aspernatur unde ratione delectus, vitae maxime fugiat rem maiores. Earum et reiciendis id vero
                possimus!</p>
            <img src="static/images/server1.webp" alt="pic">
            <h4>Head Server</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium eum libero laboriosam modi,
                molestiae aspernatur unde ratione delectus, vitae maxime fugiat rem maiores. Earum et reiciendis id vero
                possimus!</p>
            <img src="static/images/server2.jpg" alt="pic">
            <h4>Assistant Server</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium eum libero laboriosam modi,
                molestiae aspernatur unde ratione delectus, vitae maxime fugiat rem maiores. Earum et reiciendis id vero
                possimus!</p>
        </div>
    </section>
    <section class="work">
        <h2>How our subscription works</h2>
        <div>
            <p> jd vj vindiujvjsz vfvc</p>
            <p>nbhudijnjbdhjomvnjbij</p>
            <p>jbidjnbihjonjbhijnjbhvhdjsvfdcfd</p>
            <button><a href="{{'membership'}}">Try Now</a></button>
        </div>
    </section>
    <section class="gallery">
        <!-- <h2>Gallery</h2> -->
        <li>
            <img src="static/images/kitchen1.jpg" alt="pic in column grid">
            <img src="static/images/kitchen2.jpg" alt="pic in column grid">
        </li>
        <li><img src="static/images/kitchen3.webp" alt="pic in column grid">
            <img src="static/images/kitchen4.webp" alt="pic in column grid">
        </li>
        <li>
            <img src="static/images/kitchen5.jpg" alt="pic in column grid">
            <img src="static/images/kitchen 6.jpg" alt=" in column grid">
        </li>
        <li>
            <img src="static/images/kitchen1.jpg" alt="pic in column grid">
            <img src="static/images/kitchen1.jpg" alt="pic in column grid">
        </li>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
            <p>Contact: Business@example.com</p>
        </div>
    </footer>
</body>

</html>