<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients | AZ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='ingridients.css')}}">
</head>

<body>
    <header>
        <h1>Ingridients Info</h1>
        <nav>
            <li>
                <li>
                    <a href="{{ 'home'}}">Home</a>
                    <a href="{{'about'}}">About</a>
                    <a href="{{'ingredients'}}">Ingridients</a>
                    <a href="{{'membership'}}">Memberships</a>
                    <a href="{{'login'}}">Login</a>
                    <a href="{{ 'logout' }}">Logout</a>
                    <a href="{{'orders'}}">past orders</a>
                    <a href="{{'checkout'}}">checkout</a>
                </li>
            </li>
        </nav>

    </header>
    <h2>meat</h2>
    <section class="meats">

        <div class="chicken">
            <h2>chicken</h2>
            <li>
                <img src="static/images/chicken.jpg" alt="png in a circle that floats to center">
                <P>Protien : 20 g </P>
                <p>Fat : xxg</p>
                <p>Iron : xxg</p>
                <p>xxx : xxg</p>

            </li>
        </div>
        <div class="beef">
            <h2>beef</h2>
            <li>
                <img src="static/images/beef.jpg" alt="png in a circle that floats to center">
                <P>Protien : 20 g </P>
                <p>Fat : xxg</p>
                <p>Iron : xxg</p>
                <p>xxx : xxg</p>

            </li>
        </div>
        <div class="mutton">
            <h2>Mutton</h2>
            <li>
                <img src="static/images/mutton.jpg" alt="png in a circle that floats to center">
                <P>Protien : 20 g </P>
                <p>Fat : xxg</p>
                <p>Iron : xxg</p>
                <p>xxx : xxg</p>

            </li>
        </div>
        <div class="Fish">
            <h2>Fish</h2>
            <li>
                <img src="static/images/fish.jpg" alt="png in a circle that floats to center">
                <P>Protien : 20 g </P>
                <p>Fat : xxg</p>
                <p>Iron : xxg</p>
                <p>xxx : xxg</p>

            </li>
        </div>
    </section>
    <h2>Vegetables</h2>
    <section class="Vegetables">

        <div>
            <img src="static/images/avocado.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/chilli.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/corn.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/lettuce.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        
    </section>
    <section class="Vegetables">
        <div>
            <img src="static/images/mushroom.webp" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/onion.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/potato.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/tomato.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>

    </section>
    <h2>Fruits</h2>
    <section class="fruits">
        <div>
            <img src="static/images/apple.jpg" alt="apple">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/banana.jpg" alt="banana">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/grapes.jpg" alt="grapes">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/blueberry.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
    </section>
    <h2>Season Special</h2>
    <section class="special">
        <div>
            <img src="static/images/jujube.jpg" alt="apple">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/oranges.jpg" alt="banana">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/peas.jpeg" alt="grapes">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
        <div>
            <img src="static/images/shrimp.jpg" alt="potato">

            <P>Protien : 20 g </P>
            <p>Fat : xxg</p>
            <p>Iron : xxg</p>
            <p>xxx : xxg</p>
        </div>
    </section>
    <section class="notice">
        <p>Please note that we strictly adhere to using only seasonal ingredients to ensure the health and safety of our customers. Some ingredients may only be available during specific seasons, and we do not stock or provide out-of-season ingredients. If an ingredient is unavailable due to seasonality, it will not appear on our ingredients page.</p> <p>Should you come across any out-of-season ingredients not listed on our page, please refrain from consuming them and report the issue immediately by contacting us <a href="mailto:zayem@gmail.com">here</a>.</p>
    </section>
    <footer class="footer">
        <div class="footer-content">
          <p>&copy; 2024 Your Website. All rights reserved.</p>
          <p>Contact: Business@example.com</p>
        </div>
      </footer>
</body>

</html>