<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership | AZ</title>
    <link rel="stylesheet" href="static/membership.css">
</head>
<body>
    <header>
        <nav>
            <h1>Memberships</h1>
            <li>
                <li>
                    <a href="{{ 'home'}}">Home</a>
                    <a href="{{'about'}}">About</a>
                    <a href="{{'ingredients'}}">Ingridients</a>
                    <a href="{{'membership'}}">Memberships</a>
                    <a href="{{'login'}}">Login</a>
                    <a href="{{ 'logout' }}">Logout</a>
                    <a href="{{'orders'}}">past orders</a>
                    <a href="{{'checkout'}}">checkout</a>
                </li>
            </li>
        </nav>
    </header>
    
    <h1 class="mem">MEMBERSHIP</h1>
    <div class="hello">
        <h2 class="headi">STANDARD</h2>
        <p class="para">Chicken Wrap<br>Salad<br>complementry Juice<br>perfect for Dieting<br>Nutritionists approved</p>
        <a href="" class="p2">13,000RS per month</a>
        <a href="{{'checkout'}}" class="p3">Try Now</a>
        
    </div>
    <div class="hello">
        <h2 class="headi">PREMIUM</h2>
        <p class="para">Chicken / Beef wrap<br>Salad<br>Fresh Protien drink<br>Preferrwd by students<br>Nutritionists approved</p>
        <a href="" class="p2">17,000RS per month</a>
        <a href="{{'checkout'}}" class="p3">Try Now</a>
    </div>
    <div class="hello">
        <h2 class="headi">Luxury</h2>
        <p class="para">Chicken / Beef wrap<br>Chowmein<br>Fruit salad<br>Protien Fruit Smoothie<br>Protein based plan for body-building</p>
        <a href="" class="p2">20,000RS per month</a>
        <a href="{{'checkout'}}" class="p3">Try Now</a>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
            <p>Contact: Business@example.com</p>
        </div>
    </footer>
</body>
</html>